:root {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size: 14px;
  --font-size-bigger: 16px;
  --font-size-big: 18px;
  --font-size-heading: 20px;

  --basic-white: #ffffff;
  --basic-black: #000000;
  --gray: #3f3d3d;
  --light-gray: #5c5c5c;
  --basic-gray: #f0f0f0;
  --basic-green: #28d979;
  --light-green: #ebf9f2;
  --basic-yellow: #f6ed1e;
  --transparent-yellow: rgb(126, 115, 18, .4);
}

html {
  font-family: "Poppins";
  font-size: var(--font-size);
  color: var(--basic-black);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 59px;
  border: 1px solid transparent;
  padding: 0.1em 0.7em;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--basic-yellow);

  background-color: var(--transparent-yellow);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--basic-yellow);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1050px;
  margin: auto;
  padding: 1rem 2rem;
}

section {
  background-color: var(--basic-gray);
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.profile-img {
  max-width: 200px;
  width: 100%;

  border-radius: 12px;
  overflow: hidden;
}

.name-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  min-width: 200px;
  padding: 1.5rem;

  border-radius: 12px;
}

.name-box__sub {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: var(--font-size-bigger);
}

.name-box__name {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: var(--font-size-heading);
}

.name-box__profession {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: var(--font-size-big);
  color: var(--light-gray);
}

.languages {
  box-sizing: border-box;
  flex-grow: 5;
  min-width: 300px;
  padding: 1.5rem;

  border-radius: 12px;
}

.languages__title {
  margin: 0;
  margin-bottom: 1rem;

  padding: 0;

  font-weight: 500;
  font-size: var(--font-size-heading);
}

.languages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.languages__progress {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  font-weight: 500;
  font-size: var(--font-size-bigger);
}

.center {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

@media(min-width: 850px) {
  .center {
    flex-wrap: nowrap;
    justify-content: start;

  }
}

.experience {
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 12px;
  flex-shrink: 5;
}

.experience__title {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;

  font-weight: 500;
  font-size: var(--font-size-heading);
}

.experience__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.experience__item {
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  border-radius: 10px;
  background-color: var(--basic-white);
}

.experience__item--most-recent {
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.experience__item-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.experience__item_date {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: var(--font-size);
}

.experience__item-main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.experience__item-name {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: var(--font-size-bigger);
}

.experience__item-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}

.experience__further {
  position: relative;

  margin: 0;
  padding: 0;
}

.experience__further:nth-child(n+2) {
  padding-left: 1rem;
}

.experience__further:nth-child(n+2)::before {
  content: '';

  position: absolute;
  top: 0.2rem;
  left: 0;

  width: 1px;
  height: 1rem;

  background-color: var(--gray);
}

.experience__item--most-recent .experience__further {
  color: var(--light-green);
}

.experience__item--most-recent .experience__further:nth-child(n+2)::before {
  background-color: var(--light-green)
}

.experience__item-list {
  margin: 0;
  padding-left: 1rem;

  list-style: disc;
}

.tools {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  padding: 1.5rem;

  border-radius: 12px;
}

@media(min-width: 850px) {
  .tools {
    width: 250px;
    flex-grow: 0;
  }
}

.tools__title {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;

  font-weight: 500;
  font-size: var(--font-size-heading);
}

.tools__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 0;
  margin-top: 1rem;
  padding: 0;

  list-style: none;
}

@media(min-width: 850px) {
  .tools__list {
    flex-direction: column;
  }
}

.tools__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;

  background-color: var(--basic-white);
  border-radius: 15px;
}

.tools__item-title {
  margin: 0;
  margin-top: -0.7rem;
  margin-bottom: 1rem;
  padding: 0 1rem;

  font-weight: 500;
  font-size: var(--font-size);
  color: var(--basic-white);
  background-color: var(--basic-black);

  border-radius: 59px;
}

.tools__inner-item-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0 3rem;

  list-style: none;
}

@media(min-width: 850px) {
  .tools__inner-item-list {
    justify-content: space-between;
  }
}

.tools__icon {
  width: 40px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (min-width: 850px) {
  .bottom {
    flex-wrap: nowrap;
  }
}

.education {
  padding: 1.5rem;

  border-radius: 12px;
}

.education__title {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;

  font-weight: 500;
}

.education__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  margin: 0;
  padding: 0;

  list-style: none;
}

.education__card {
  position: relative;

  flex-grow: 1;
  padding: 1rem;

  border-radius: 10px;
  background-color: var(--basic-white);
}

@media (min-width: 850px) {
  .education__card {
  max-width: calc(50% - 3rem);
  }
}

.education__card--most-recent {
  color: var(--basic-white);
  
  background-color: var(--basic-green);
}

.education__card-date {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;

  font-size: var(--font-size-bigger);
  font-weight: 500;
}

.education__card-title {
  margin: 0;
  padding: 0;

  font-size: var(--font-size-bigger);
  font-weight: 500;
}

.education__card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.7rem;
  margin: 0;
  padding: 0;

  list-style: none;
}

.bottom-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 850px) {
  .bottom-box {
    max-width: 45%;
  }
}

.education__like {
  position: absolute;
  top: 1rem;
  right: 1rem;

  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;

  background-image: url(./icons/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;

}

.interests {
  padding: 1.5rem;

  border-radius: 12px;
}

.interests__title {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.interests__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: 850px) {
  .interests__list {
    flex-grow: 0;
  }
}

.interests__list-item {
  padding: 0 1rem;

  line-height: 2;

  border-radius: 40px;
  background-color: var(--basic-white);
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;

  color: var(--basic-white);

  border-radius: 12px;
  background-color: var(--basic-black);
}

.contacts-box {
  display: flex;
  flex-direction: column;
}

.contacts__text {
  margin: 0;
  padding: 0;

  font-size: var(--font-size-heading);
  font-weight: 500;
}

.contacts__link {
  color: var(--basic-gray);
  font-size: var(--font-size-bigger);
}